@model TechReview.Models.Review

@{
    ViewBag.Title = "Details";
}

    <h2>Details</h2>

    <div>
        <h4>Review</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.PublishDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
