@model IEnumerable<TechReview.Models.Review>

@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews</h2>

<p>
<p><a class="btn btn-default" @Html.ActionLink("Create New", "Create") </a></p> 
</p>

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4 colBorder">
        <div class="card">
            <img class="card-img-top">
            <div class="card-block">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                <div class="card-text">
                    Publish Date: @item.PublishDate.ToShortDateString()
                </div>
            </div>
            <div class="card-footer">
                <span class="float-right">Review: @Html.DisplayFor(modelItem => item.Content)</span>

            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </p>
        </div>
    </div>
}


